body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


@media print {
  html,
  body,
  main {
    margin: 0 !important;
    padding: 0 !important;
  }

  html,
  body,
  main,#root {
      width:100%;
    height: 100%;
  }

}

::-webkit-scrollbar {
  width: 1rem;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 1rem 1rem #efefef;
  border: solid 0.3rem transparent;
  border-top: solid 1rem transparent;
  border-bottom: solid 1rem transparent;
}

::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 1rem 1rem rgb(83, 83, 83);
  border: solid 0.3rem transparent;
  border-top: solid 1rem transparent;
  border-bottom: solid 1rem transparent;
}

ul,ol{
list-style-type: none;
}

#pic{
  background-image: url('./img/profile.jpeg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right 50% top 0;
}