
  html,body{
    min-height:100%;
    height:100%;
  }

  body{
    display:flex;
    justify-content: stretch;
  }
::-webkit-scrollbar {
  width: 1rem;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 1rem 1rem #efefef;
  border: solid 0.3rem transparent;
  border-top: solid 1rem transparent;
  border-bottom: solid 1rem transparent;
}

::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 1rem 1rem rgb(83, 83, 83);
  border: solid 0.3rem transparent;
  border-top: solid 1rem transparent;
  border-bottom: solid 1rem transparent;
}

ul,ol{
list-style-type: none;
}

@media print{
  aside{
    overflow:hidden;
  }
}